[user]
  name = Francois Pasquier
  email = git@pasquierfrancois.com
[diff]
  tool = meld
[difftool]
  prompt = false
  keepBackup = false
[merge]
  tool = meld
[mergetool]
  prompt = true
  keepBackup = false
[include]
  path = .gitalias
[filter "gitignore"]
  clean = sed '/intelephense.licenceKey/d'
[core]
	pager = less -+FX
