.dotfiles.git
.DS_Store
tags
node_modules/*
vendor/*
*.min.js
dist/*
.vscode
.config/nvim/plugin/packer_compiled.lua

.config/zsh/.zcompcache/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/
.config/zsh/history
.config/.zsh_history
.config/.zsh_sessions

