#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}

if ! command -v brew &>/dev/null; then
  printf "Starting Homebrew installation...\n"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  printf "Homebrew installation completed\n"
fi

if [[ "$(uname -m)" == "arm64" && ! -f "/Library/Apple/usr/share/rosetta/rosetta" ]]; then
  printf "\nStarting Rosetta 2 installation...\n"
  /usr/sbin/softwareupdate --install-rosetta --agree-to-license
  printf "\Rosetta 2 installation completed\n"
fi

printf "\nStarting Homebrew packages installation...\n"
brew bundle --file=/dev/stdin <<EOF
{{- range .packages.darwin.brews }}
brew {{ . | quote }}
{{- end }}
{{- range .packages.darwin.casks }}
cask {{ . | quote }}
{{- end }}
EOF
printf "\nHomebrew packages installation completed.\n"

if [ ! -d "${HOME}/.tmux/plugins/tpm" ]; then
  printf "\nInstalling Tmux Plugin Manager (TPM)...\n"
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/scripts/install_plugins.sh
  printf "TPM installation completed.\n"
fi

printf "\nStarting App Store packages installation...\n"
{{- range .packages.darwin.mas }}
mas install {{ . }}
{{- end }}
printf "\nApp Store packages installation completed.\n"

# Source nix if available
if [ -e '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh' ]; then
  . '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh'
fi

if command -v nix &>/dev/null; then
  printf "\nStarting Nix packages installation...\n"
  {{- range .packages.nix }}
  printf "Installing {{ . }}...\n"
  nix profile add 'nixpkgs#{{ . }}' || echo "Failed to install {{ . }}, skipping..."
  {{- end }}
  {{- range .packages.darwin.nix }}
  printf "Installing {{ . }}...\n"
  nix profile add 'nixpkgs#{{ . }}' || echo "Failed to install {{ . }}, skipping..."
  {{- end }}
  printf "\nNix packages installation completed.\n"
else
  printf "\nNix not found, skipping Nix packages installation.\n"
fi

printf "\nRemoving quarantine attributes from some apps...\n"
xattr -dr com.apple.quarantine /Applications/Chromium.app || echo "Chromium not found"
xattr -dr com.apple.quarantine /Applications/LibreWolf.app || echo "LibreWolf not found"
xattr -dr com.apple.quarantine /Applications/TomatoBar.app || echo "TomatoBar not found"
printf "\nQuarantine attributes removed (if apps were found).\n"

if ! command -v cargo &>/dev/null; then
  printf "\nStarting rustup installation...\n"
  rustup-init -y --no-modify-path
  printf "Rustup installation completed.\n"
fi

if [ ! -f "/usr/local/bin/node" ]; then
  printf "\nCreating symlink for Node.js in /usr/local/bin...\n"
  sudo ln -s "$(which node)" /usr/local/bin/node
  printf "Symlink for Node.js created.\n"
fi

printf "\nInstallation script completed.\n"
{{ end -}}
