#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

# ---------------------------------------------------------------------------------------------------------------------
# Amphetamine settings
# ---------------------------------------------------------------------------------------------------------------------
killall Amphetamine || true
# Start session as soon as Amphetamine starts
defaults write com.if.Amphetamine "Start Session At Launch" -bool true

# ---------------------------------------------------------------------------------------------------------------------
# Snapzy settings
# ---------------------------------------------------------------------------------------------------------------------
killall Snapzy || true
# Add Snapzy to login items
osascript -e 'tell application "System Events" to make login item at end with properties {name:"Snapzy", path:"/Applications/Snapzy.app", hidden:false}'

# ---------------------------------------------------------------------------------------------------------------------
# Maccy settings
# ---------------------------------------------------------------------------------------------------------------------
killall Maccy || true
# Add Maccy to login items
osascript -e 'tell application "System Events" to make login item at end with properties {name:"Maccy", path:"/Applications/Maccy.app", hidden:false}'

# ---------------------------------------------------------------------------------------------------------------------
# Rocket settings
# ---------------------------------------------------------------------------------------------------------------------
killall Rocket || true
# Add Maccy to login items
osascript -e 'tell application "System Events" to make login item at end with properties {name:"Rocket", path:"/Applications/Rocket.app", hidden:false}'

{{ end -}}
