#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
# Only run if we have apt-get
if command -v apt-get &>/dev/null; then
    echo "Setting up Docker repository..."
    
    # Add Docker's official GPG key:
    sudo apt-get update
    sudo apt-get install -y ca-certificates curl
    sudo install -m 0755 -d /etc/apt/keyrings
    
    if [ ! -f /etc/apt/keyrings/docker.asc ]; then
        sudo curl -fsSL https://download.docker.com/linux/{{ .chezmoi.osRelease.id }}/gpg -o /etc/apt/keyrings/docker.asc
        sudo chmod a+r /etc/apt/keyrings/docker.asc
    fi

    # Add the repository to Apt sources:
    if [ ! -f /etc/apt/sources.list.d/docker.sources ]; then
        echo "Types: deb
URIs: https://download.docker.com/linux/{{ .chezmoi.osRelease.id }}
Suites: $(. /etc/os-release && echo "$VERSION_CODENAME")
Components: stable
Signed-By: /etc/apt/keyrings/docker.asc" | sudo tee /etc/apt/sources.list.d/docker.sources
        
        sudo apt-get update
    fi
fi
{{   end -}}
{{ end -}}
