#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
# Only run if we have apt-get
if command -v apt-get &>/dev/null; then
    echo "Setting up Ghostty repository..."
    
    sudo mkdir -p /etc/apt/keyrings
    
    # Ensure apt-transport-https and gnupg are installed
    sudo apt-get install -y apt-transport-https gnupg

    if [ ! -f /etc/apt/trusted.gpg.d/debian.griffo.io.gpg ]; then
        curl -sS https://debian.griffo.io/EA0F721D231FDD3A0A17B9AC7808B4DD62C41256.asc | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/debian.griffo.io.gpg
    fi

    if [ ! -f /etc/apt/sources.list.d/debian.griffo.io.list ]; then
        echo "deb https://debian.griffo.io/apt $(lsb_release -sc 2>/dev/null) main" | sudo tee /etc/apt/sources.list.d/debian.griffo.io.list
        sudo apt-get update
    fi
fi
{{   end -}}
{{ end -}}
