#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

# ---------------------------------------------------------------------------------------------------------------------
# Amphetamine settings
# ---------------------------------------------------------------------------------------------------------------------
killall Amphetamine || true
# Start session as soon as Amphetamine starts
defaults write com.if.Amphetamine "Start Session At Launch" -bool true

# ---------------------------------------------------------------------------------------------------------------------
# CleanShot X settings
# ---------------------------------------------------------------------------------------------------------------------
killall CleanShot X || true
# Add Maccy to login items
osascript -e 'tell application "System Events" to make login item at end with properties {name:"CleanShot X", path:"/Applications/CleanShot X.app", hidden:false}'

# ---------------------------------------------------------------------------------------------------------------------
# Maccy settings
# ---------------------------------------------------------------------------------------------------------------------
killall Maccy || true
# Add Maccy to login items
osascript -e 'tell application "System Events" to make login item at end with properties {name:"Maccy", path:"/Applications/Maccy.app", hidden:false}'

# ---------------------------------------------------------------------------------------------------------------------
# Rocket settings
# ---------------------------------------------------------------------------------------------------------------------
killall Rocket || true
# Add Maccy to login items
osascript -e 'tell application "System Events" to make login item at end with properties {name:"Rocket", path:"/Applications/Rocket.app", hidden:false}'

# ---------------------------------------------------------------------------------------------------------------------
# Safari settings
# ---------------------------------------------------------------------------------------------------------------------
killall Safari || true
# Privacy: don’t send search queries to Apple
defaults write com.apple.Safari UniversalSearchEnabled -bool false
defaults write com.apple.Safari SuppressSearchSuggestions -bool true
# Privacy: Enable “Do Not Track”
defaults write com.apple.Safari SendDoNotTrackHTTPHeader -bool true
# Update extensions automatically
defaults write com.apple.Safari InstallExtensionUpdatesAutomatically -bool true

{{ end -}}
