{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

# home-manager installs aria2 and fontconfig into the user nix profile.
# Use chezmoi's authoritative home dir so we don't depend on $HOME or PATH
# being correctly set in the script's environment.
NIX_BIN="{{ .chezmoi.homeDir }}/.nix-profile/bin"

if [ ! -x "$NIX_BIN/aria2c" ] || [ ! -x "$NIX_BIN/fc-cache" ]; then
  printf "aria2c or fc-cache not found in %s, skipping font installation.\n" "$NIX_BIN"
  exit 0
fi

mkdir -p {{ .chezmoi.homeDir }}/.local/share/fonts

"$NIX_BIN/aria2c" -Z -d {{ .chezmoi.homeDir }}/.local/share/fonts/ \
  https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/DejaVuSansMono/Bold-Italic/DejaVuSansMNerdFont-BoldOblique.ttf \
  https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/DejaVuSansMono/Bold/DejaVuSansMNerdFont-Bold.ttf \
  https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/DejaVuSansMono/Italic/DejaVuSansMNerdFont-Oblique.ttf \
  https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/DejaVuSansMono/Regular/DejaVuSansMNerdFont-Regular.ttf \
  https://github.com/kencrocken/FiraCodeiScript/raw/master/FiraCodeiScript-Bold.ttf \
  https://github.com/kencrocken/FiraCodeiScript/raw/master/FiraCodeiScript-Italic.ttf \
  https://github.com/kencrocken/FiraCodeiScript/raw/master/FiraCodeiScript-Regular.ttf \
  https://github.com/samuelngs/apple-emoji-linux/releases/download/v18.4/AppleColorEmoji.ttf

"$NIX_BIN/fc-cache"
{{ end -}}
